<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Онлайн-школа Mute</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h2>SchoolApp</h2>
        <div class="nav-links">
            <a href="/" class="btn btn-secondary">Главная</a>
            <a href="/cart" class="btn btn-primary">
                🛒 Корзина
                <span class="cart-badge">{{ session.get('cart', []) | length }}</span>
            </a>
            <a href="http://127.0.0.1:8000/docs" target="_blank" class="btn btn-success">Swagger</a>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>