{% extends "base.html" %}

{% block content %}
    <div class="flex-between" style="margin-bottom: 20px;">
        <h2>Новый курс</h2>
        <a href="/" class="link-back">← Назад к списку</a>
    </div>

    <form method="post">
        <div class="form-group">
            <label>Название курса</label>
            <input type="text" name="title" class="form-control" required minlength="2">
        </div>

        <div class="form-group">
            <label>Описание</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group" style="margin-bottom: 15px; padding: 10px; background-color: rgba(0,0,0,0.03); border-radius: 8px;">
            <label style="display: flex; align-items: center; gap: 10px; cursor: pointer; margin: 0;">
                <input type="checkbox" name="is_free" id="is_free_checkbox" onchange="togglePrice()" style="width: 20px; height: 20px;">
                <strong style="color: var(--success);">Сделать курс бесплатным</strong>
            </label>
        </div>

        <div class="form-grid" style="grid-template-columns: 1fr 1fr 1fr;">
            <div class="form-group" id="price_group">
                <label>Стоимость (₽)</label>
                <input type="number" step="0.01" name="price" id="price_input" class="form-control" required min="0">
            </div>
            <div class="form-group" id="discount_group">
                <label>Скидка (%)</label>
                <input type="number" name="discount_percent" class="form-control"  min="0" max="100">
            </div>

            <div class="form-group">
                <label>Срок (мес.)</label>
                <input type="number" name="duration_months" class="form-control" required min="1">
            </div>
        </div>

        <div class="form-group">
            <label>Имя преподавателя</label>
            <input type="text" name="instructor" class="form-control" required minlength="2">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">Сохранить</button>
            <a href="/" class="btn btn-cancel">Отмена</a>
        </div>
    </form>

    
{% endblock %}